body{
  font: 15px/1,5 Arial, Helvetica,sans-serif;
  padding:10;
  margin:10;
  background-color:lightgrey;
}

.container{
  margin:auto;
  overflow:hidden;
}

header #branding h1{
  text-align: right;
  margin: 0;
}

header li{
  float:right;
  display:inline;
  padding:0 20px 0 20px;
}

header .highlight, header .current a{
  color:darkgrey;
  font-weight:bold;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

h3{
  color: darkgrey;
}

#boxes1 h3{
  text-align: center;
}

#boxes1 p{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}


.sidenav {
  height: 100%;
  width: 210px;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-color: darkgrey;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: purple;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

#newsletter{
  padding:15px;
  color:grey;
  text-align: center;
}

#newsletter h1{
float: ;
}

footer{
    padding:20px;
    margin-top:20px;
    color:purple;
    text-align:center;
}

#form1{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 5px 5px 5px 0;
  display: inline-block;
}
